PORT=5000
MONGODB_URI=<connection_string>
JWT_SECRET=your_jwt_secret_key
TMDB_API_KEY=<tmdb_api_key>

PINATA_API_KEY=<pinata_key>
PINATA_API_SECRET=pinata_secret>
PINATA_JWT=pinata_jwt>

NFT_CONTRACT_ADDRESS=your_contract_address
WEB3_PROVIDER_URL=your_web3_provider_url
